.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 0px 20px;
}

.productList-title {
  margin-left: 30px;
}

.productItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #888;
}

  