.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 20px;
}

.productList-title {
  margin-left: 30px;
}

.productItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #888;
}

  